.narrow-screen {
    display: none;
}

@media (max-width: 800px) {
    .narrow-screen {
        display: inherit;
    }
    .wide-screen {
        display: none;
    }
}

#site-content {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 760px;
}

@media (max-width: 800px) {
    #site-content {
        width: 90%;
    }
}

header {
    font-family: 'Roboto Condensed', sans-serif;
}

header h1 {
    color: #169bbd;
    font-size: 2.25rem;
    font-weight: normal;
    margin: 0;
}

.menu {
    color: grey;
    font-family: 'Lato';
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin: 0;
    padding: 0;
}
.menu-item {
    display: inline;
    margin-right: 1rem;
}

@media (max-width: 800px) {
    .menu-item {
        font-size: 1.15rem;
        margin-right: 0.5rem;
        margin-top: 0;
    }
}

header a {
    color: black;
}

header a:hover {
    color: black;
}

header ul a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

.article-header {
    margin-bottom: 1.5rem;
}
.article-body {
    font-size: 1rem;
}
.article-body ul,ol {
    padding-left: 2rem;
    margin: 0;
}
.article-title {
    font-size: 1.5rem;
}
.article-title-small {
    font-size: 1.25rem;
}
.article-title-decoration {
    font-style: italic;
    color: #595959;
}
.article-metadata {
    display: inline;
    font-size: 0.95rem;
    /* Use line-height here because this is display: inline.*/
    line-height: 2;
}
.article-reading-time {
    display: inherit;
    padding: 0.4rem;
}
.article-publication-date {
    display:inherit;
}
.article-publication-date-text {
    display: inherit;
    padding: 0.2rem;
}
.comments {
    margin-top: 1.5rem;
}

body {
    font-family: Lato, sans-serif;
}

h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}

div.page {
    line-height: 1.5;
}

@media (max-width: 800px) {
    div.page {
        font-size: 1.05rem;
    }
}

div.page a {
    color: #466DB2;
}

a:hover {
    color: #33bbdf;
    text-decoration: underline;
}

header {
    margin-bottom: 1.5rem;
}

header h1 a:hover {
    text-decoration: none;
}

.hll {
    background-color: transparent;
}

.hll pre {
    background-color: #f7fafb;
    font-family: "Inconsolata", monospace;
    font-size: 1.1rem;
    overflow: auto;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

code {
    font-family: "Inconsolata", monospace;
    font-size: 1.1rem;
}

@media (max-width: 800px) {
    .hll pre {
        font-size: 1.05rem;
        font-weight:700;
    }
}

.hll .err {
    background-color: transparent;
    border: 0;
    color: black;
}

html {
  overflow-y: scroll;
}

footer {
    margin-top: 1rem;
}
