<!doctype html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Lato|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <script defer src="{{ '/static/fontawesome/fa-regular.js'|url }}"></script>
  <script src="{{ '/static/fontawesome/fontawesome.js'|url }}"></script>
</head>

<title>{% block title %}{% endblock %} Partially Applied</title>
<body>
  <div id="site-content">
  <header>
    <h1><a href="/">Partially Applied</a></h1>
    <div class="menu">
      <nav>
        {% for href, title in [
        ['/blog', 'Blog'],
        ['/software', 'Software'],
        ['/speaking', 'Speaking'],
        ['/about', 'About']
        ] %}
        <div class="menu-item">
          <a {% if this.is_child_of(href) %} class="active" {% endif %}
             href="{{ href|url }}">
            {{ title }}
          </a>
        </div>
        {% endfor %}
      </nav>
    </div>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018 Scott Sanderson.
  </footer>
  </div>
</body>
